* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desatBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
    height: 100vh;
    background-color: var(--paleBlue);
}

.container {
    width: 85vw;
    height: fit-content;
    background-color: white;
    padding: 1.5em;
}

.container #hero-image {
    width: 100%;
    height: auto;
    display: block;
}

#order-summary {
    border: 1px solid red;
    text-align: center;
}

#plan-details {
    border: 1px solid blue;
    display: flex;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}